.footer {
  position: relative;
  display: flex;
  background-color: var(--clr-semi-dark);
  max-width: 750px;
  
}

.footer-wrapper {
  margin: 2em 1em 2em 4.5em;
  font-size: x-small;
  text-align: center;
}

.footer-wrapper ul {
  display: flex;
  padding-left: 0.3em;
  gap: 0.5em;
  margin-right: 0.5em;
}
.footer-wrapper li {
  list-style: none;
}

.footer-wrapper h4 {
  margin-bottom: 0.7em;
}

.footer-img {
  height: 2em;
}

.footer h4 {
  text-transform: capitalize;
  font-size: small;
}

.footer-wrapper-1 {
  text-align: center;
  font-size: x-small;
  margin-top: 2em;
  margin-bottom: 4em;
  margin-left: 13em;
}

.h4-1 {
  text-transform: capitalize;
  font-size: small;
  margin-left: 5.5em;
}
.ar {
  font-size: xx-small;
  position: absolute;
  bottom: 0.5em;
  left: 32.5em;
  font-weight: 500;
}
.footer-title {
  color: yellow;
  font-size: x-large;
  margin-top: 0.5em;
  margin-left: 0.5em;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .container {
    min-width: 1000px;
  }

  .footer-title {
    margin-left: 0.7em;
  }

  .ar {
    left: 43.5em;
  }
  .footer-wrapper {
    margin-left: 10em;
  }
}

@media (max-width: 1024px) {
  .footer {
    max-width: 910px;
  }
  .ar {
    left: 34.5em;
  }
  .footer-wrapper-1 {
    font-size: xx-small;
    margin-left: 6em;
  }
}

@media (max-width: 920px) {
  .footer {
    max-width: 880px;
  }

  .footer-wrapper-1 {
    font-size: xx-small;
  }
}
@media (max-width: 880px) {
  .ar {
    margin-left: -6em;
  }
}

@media (max-width: 749px) {
  .ar {
    margin-left: -12em;
  }
}

@media (max-width: 649px) {
  .ar {
    margin-left: -17.5em;
  }
  .footer-wrapper-1 {
    font-size: xx-small;

    margin-left: 0;
    margin-right: -4.5em;
  }
}

@media (max-width: 559px) {
  .ar {
    margin-left: -24em;
  }
}
@media (max-width: 450px) {
  .ar {
    margin-left: -25em;
  }
  .footer-wrapper-1 {
    margin-top: 8em;

    margin-left: -7em;
    margin-right: -19em;
  }
}

@media (max-width: 370px) {
  .h4-1 {
    margin-left: 1.5em;
  }
  .ar {
    margin-left: -27em;
  }
  .footer-wrapper ul {
    width: 9em;
    margin-left: -2em;
  }
  .footer-wrapper-1 {
    margin-top: 8em;
    margin-left: -7em;
    margin-right: -14.5em;
  }
}
@media (max-width: 330px) {
  .h4-1 {
    margin-top: 3em;
    margin-left: -15.5em;
  }
  .footer-wrapper ul {
    width: 9em;
    margin-left: -21em;
  }
  .footer-wrapper-1 {
    margin-left: 4em;
  }
  .ar {
    left: 26em;
    font-size: xx-small;
  }
}

@media (max-width: 330px) {
  .ar {
    margin-left: -25.5em;
  }
  .footer-wrapper-1 {
    margin-top: 17em;
    margin-left: -7.5em;
    margin-right: -15em;
  }
  .h4-1 {
    padding: 0;
    margin: 0;
  }

  .footer-wrapper {
    font-size: xx-small;
    padding: 0;
    margin-left: 0;
    margin-right: 4em;
    margin-bottom: 23em;
    margin-top: 5.5em;
  }

  .footer-wrapper ul {
    margin-left: 0.5em;
  }
}
