.container {
  max-width: 1024px;
}

header {
  background-color: black;
}

.title {
  color: bisque;
  position: absolute;
  top: 0.5rem;
}

.header__ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
 
}
.header__li {
  background-color: var(--clr-semi-dark);

  padding: 1rem;
}
.header__signup {
  top: 1.2em;
}

@media (max-width: 1024px) {
  .container {
    max-width: 880px;
  }
  .header__ul {
    font-size: var(--size-xs);
    padding-left: 1em;
  }
  .header__signup {
    top: 1.5em;
  }
}

@media (max-width: 880px) {
  .container {
    max-width: 700px;
  }
  .title {
    font-size: var(--size-xl);
  }
  .header__ul {
    font-size: var(--size-xxs);
  }
  .header__signup {
    top: 2.5em;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 446px) {
  .container {
    max-width: 380px;
  }
  .header__ul {
    flex-direction: column;
    align-items: flex-end;
    margin-right: -0.5rem;
   background-color: var(--clr-semi-dark);
    margin-left: 0;
  }
  .header__li {
    padding-bottom: 0.5em;
  }
  .header__signup {
    margin-right: 1em;
  }
  .header__button {
    background-color: var(--clr-semi-dark);
    padding-left: 1em;
  }
}
