.container{
  max-width: 1024px;
}

header {
  background-color: black;
  border: 1px solid blue;
}

.title {
  color: bisque;
  position: absolute;
  top: 0.5rem;
  border: 1px solid blue;
}

.header__ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 4.5em;
  margin-left: 4.5em;
  border: 1px solid gold;
}
.header__li {
  background-color: var(--clr-semi-dark);
  padding: 1rem;
}
.header__signup {
  position: absolute;
  top: 1em;
  
}
