.section-1 {
  display: flex;
}

.main-wrapper {
  padding: 6em 4em;
  width: 100%;
  position: relative;
}

.main-wrapper::before {
  content: "";
  background-image: linear-gradient(to left, rgba(1, 1, 1, 0), rgba(1, 1, 1, 1)),
    url(/bg-movies.jpeg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 66%;
  height: 100%;
  background-size: cover;
  opacity: 90%;
  z-index: -1;
}

.title {
  margin-bottom: 1em;
  text-transform: capitalize;
}
.main-p {
  margin-bottom: 2em;
}
.main-btn {
  height: 2.5em;
  width: 5em;
}

@media (max-width: 920px) {
  .section-1 {
    max-width: 880px;
  }
  .main-wrapper {
    padding-left: 2.5em;
  }
}

@media (max-width: 880px) {
  .section-1 {
    max-width: 750px;
  }

  .main-wrapper {
    padding-left: 2em;
  }
}

@media (max-width: 750px) {
  .section-1 {
    max-width: 650px;
  }
}

@media (max-width: 650px) {
  .section-1 {
    max-width: 560px;
  }
}

@media (max-width: 560px) {
  .section-1 {
    max-width: 450px;
  }
}
@media (max-width: 450px) {
  .section-1 {
    max-width: 370px;
  }
}
@media (max-width: 370px) {
  .section-1 {
    max-width: 330px;
  }
}
@media (max-width: 330px) {
  .section-1 {
    max-width: 200px;
  }
  .main-wrapper {
    padding-left: 0.5em;
  }
}
