.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}

.section {
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: var(--clr-light);
  text-transform: capitalize;
}

.btn {
  color: var(--clr-dark);
  background-color: orange;
  text-transform: capitalize;
}

.logo {
  font-family: "Source Serif Pro", serif;
}
